// Callout styles are applied to wrapping elements to showcase thier content
// 
// .block-1 - Grey Striped block
// .block-2 - Green block with radial gradient & white text
// .block-3 - Dark grey block with linear gradient & white text/links
// .block-4 - White block
// 
// Styleguide 4.4.0

@function blocks-image-url($path) {
  @return component-url('nib-styles-common', "local/blocks/images/#{$path}");
}

/* Grey Striped block */
.block-1 {
	background: $lighter-grey blocks-image-url('bg-grey-stripes.png');
}

/* Green block with radial gradient */
.block-2 {
	@include improve-text-rendering;
	@extend %radial-green-gradient;
	color: #fff;
}

/* dark grey block */
.block-3 {
	@include improve-text-rendering;
	@include linear-gradient(#363636, $dark-grey, top, 40%);
	color: #fff;
}

/* White block */
.block-4 {
	background: #fff;
	position: relative;
}

/* White block */
.block-5 {
	@include clear-floats;
	@include linear-gradient(#fff, $lighter-grey, top);
	box-shadow: 0 0 1px 1px darken($lighter-grey, 8%);
	border: 1px solid #fff;

	.no-boxshadow & {
		border-color: darken($lighter-grey, 8%);
	}

	.cat-container {
		background: $lighter-grey;
		border-top: 1px solid #fff;
		margin: -30px;
		margin-top: 30px;
		padding: 15px 30px;
		overflow: hidden;
		display: block;
		text-align: right;
		height: 30px;
		vertical-align: middle;
		position: relative;

		.cat-container__group {
			display: inline-block;
			margin-bottom: 0 !important;
			line-height: 30px
		}
	}
}

// Green block with vertical gradient and stripes
.block-6 {
	@include improve-text-rendering;
	@extend %radial-green-gradient;
	color: #fff;
}

.block-7 {
  background: #007500;
  box-shadow: 0 -4px 10px rgba(black,0.2);
}

// Modifiers
// ---------------------------------------------------

.block__border-dashed,
.block--dashed {
	border-top: 1px dashed #c5c5c5;
}

.block__border-solid,
.block--solid {
	border-top: 1px solid darken($lighter-grey, 8%);
	border-bottom: 1px solid darken($lighter-grey, 8%);
	position: relative;

	&:before {
	   border-bottom: 1px solid #fff;
	   border-top: 1px solid #fff;
	   bottom: 0;
	   content: '';
	   left: 0;
	   position: absolute;
	   right: 0;
	   top: 0;
	   z-index: 0;
	}
}