// The button classes are best applied to links, buttons, and submit inputs.
// These components can be used in forms, as calls to action, or as part of the
// general UI of the site/app.
// 
// .btn--primary - Main call to action
// .btn--secondary - Secondary call to action and for generic buttons
// .btn--inverse - Inverse style button for reverse backgrounds or negative actions
// .btn--transparent - Transparent button. When you need a button on a dark background with the dimensions of a button but with no background. Used for "Add" button in bundles in R&S
// .btn--uppercase - Uppercase text
// .btn--small - Smaller variation
// .btn--medium - Slightly larger
// .btn--large - Much larger
// .btn--panel - Square panel button. Used for accordians and other UI elements
// .btn--narrow - Narrow button style. Usually applied when styling buttons with icons
// .btn--wide - For consistent call to action sizes
// .btn--full - Full-width button. This is usually used in smaller columns where it makes sense to have the button span the full width of the column.
// .btn--shadow - Adds a drop-shadow to the button. Used on dark backgrounds
// .btn--info - Button used to show more information. Used with JS components to show and hide content.
// .btn--bordered - Bordered buttons. Used to make a button more important without increasing it's size or colour 
// 
// Styleguide 1.1

@function button-image-url($path) {
  @return component-url('nib-styles-common', "local/buttons/images/#{$path}");
}

.btn {
  $primary: $dark-green;
  $shadow: darken($primary, 5%);
  $highlight: lighten($primary, 10%);

  @include improve-text-rendering;
  @include border-box;
  @include vertical-gradient($highlight, $primary, $primary);

  // Corrects inability to style clickable `input` types in iOS
  -webkit-appearance: none; 

  border-radius: 3px;
  border: 1px solid $shadow;
  box-shadow: 0 1px 0 rgba(#fff, 0.5) inset, 0 1px 0 rgba(#000, 0.1);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  font-family: inherit;
  line-height: baseline(1.5);
  outline: none;
  padding: 0 $spacing-normal;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba($shadow, 1);
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    color: #fff;
    @include vertical-gradient( lighten($highlight, 5%), $primary, darken($highlight, 5%) );
  }

  &.btn--medium {
    line-height: baseline(2) - 2px;
  }

  &:active {
    color: #fff;
    background: $dark-green;
    box-shadow: none;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  // Remove excess padding and border in Firefox 4+
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  // Buttons with icons require a 16x16 icon to be used
  i {
    display: inline-block;
    margin-top: -2px;
    &:first-child {
      margin-right: 3px;
    }
    &:last-child {
      margin-left: 3px;
    }
  }
}

// Uppercase style
// @modifier
.btn--uppercase {
  text-transform: uppercase;
}

.btn--transparent {
  @include transition(opacity 0.2s);
  line-height: baseline(1.5);
  padding: 0 $spacing-normal;
  border: 0;
  opacity: 0.7;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
  text-shadow: none;
  box-shadow: none;
  &:hover,
  &:active {
    opacity: 1;
    background: transparent;
  }
  i {
    margin-top: -3px;
  }
}

// Primary button
// @modifier
.btn--primary {
  $primary: $orange;
  $shadow: darken($primary, 10%);
  $highlight: adjust-hue($primary, 10deg);

  @include vertical-gradient($highlight, $primary, $primary);

  border: 1px solid $shadow;
  box-shadow: 0 1px 0 rgba(#fff, 0.5) inset, 0 1px 0 rgba(#000, 0.1);
  text-shadow: 0 1px 1px rgba($shadow, 1);

  &:hover {
    @include vertical-gradient( lighten($highlight, 10%), $primary, darken($highlight, 5%) );
  }

  &.btn--medium {
    line-height: baseline(2) - 2px;
  }

  &:active {
    color: #fff;
    background: $shadow;
  }
}

// Lighter button style
.btn--secondary {
  $shadow: #ddd;
  $highlight: #fff;

  @extend .btn--primary;
  @include vertical-gradient(#fff, $shadow);

  border: 1px solid $border-color;
  color: $grey;
  text-shadow: 0 1px 0 rgba(#fff, 1);

  &:hover,
  &:active {
    color: $grey;
    @include vertical-gradient($highlight, lighten($shadow, 3%));
  }

  &.is-disabled {
    background: $shadow;
    color: lighten($grey, 10%);
    box-shadow: none;
    text-shadow: none;
  }

  .no-cssgradients & {
    background: button-image-url('btn-secondary.png') bottom left repeat-x;
    &.is-disabled {
      background: $shadow;
    }
  }

  &.btn--small {
    line-height: 28px;
    padding: 0 10px;
  }
}

// Inverse button style
// @modifier
.btn--inverse {
  $shadow: darken($grey, 10%);
  $highlight: lighten($grey, 15%);

  @extend .btn--primary;
  @include vertical-gradient($highlight, $grey, $grey); 

  color: white;
  border: 1px solid $shadow;
  text-shadow: 0 1px 1px rgba($shadow, 1);
  box-shadow: 0 1px 0 rgba(#fff, 0.3) inset, 0 1px 0 rgba(#000, 0.2);

  &:hover {
    @include vertical-gradient( lighten($highlight, 10%), $grey, $highlight);
  }

  &:active {
    @include vertical-gradient( lighten($highlight, 10%), $grey, $highlight);
  }
}

// Smaller button
// @modifier
.btn--small {
  font-size: 11px;
  line-height: baseline(1.25);
  &.btn--narrow {
    padding-left: 7px;
    padding-right: 7px;
  }
  &.btn--uppercase {
    font-size: 10px;
  }
}

// Slightly larger button
// @modifier
.btn--medium {
  font-size: 16px;
  line-height: baseline(2);
  &.btn--wide {
    min-width: 170px;
  }
  .icon-circle-white-arrow-right {
    top: 2px;
  }
}

// Larger button
// @modifier
.btn--large {
  font-size: 24px;
  line-height: baseline(2.5);
  font-weight: normal;
  font-weight: 300;
  padding: 0 spacing(4);
}

// Full-width button
// @modifier
.btn--full {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  .lt-ie8 & {
    width: auto;
  }
}

// Button displays as a flat panel
.btn--panel {
  @extend .btn--full;
  @extend .btn--secondary;
  text-align: left;
  padding: 0 $spacing-small;
  border-radius: 0;

  i {
    margin-top: -3px;
    margin-left: 0;
  }
}

.btn--narrow {
  padding: 0 12px;
}

.btn--wide {
  min-width: 100px;
}

// Button with only an icon and no text. Use buttons as normal but
// wrap the button text in a span and add an icon inside. Placing
// the icon before or after the text will determine it's position
// 
// Styleguide 1.2.0
.btn--icon {
  padding-left: $spacing-small;
  padding-right: $spacing-small;
}

.btn--icon-text {
  text-align: left;
}

.btn--shadow {
  box-shadow: 0 0 10px rgba(#000, 0.3);
  border: 0;
}

.btn--info {
  @extend .btn--secondary;
  @extend .btn--small;
  border-radius: 0;
  line-height: 20px;
  padding: 0 10px;

  &.is-active {
    &:after {
      @extend .icon-circle-chevron-small-up;
    }
  }

  &:after {
    @include show-pseudo-element;
    @extend .icon-circle-chevron-small-down;
    position: relative;
    right: -3px;
    top: -1px;
  }
}

.btn--dark {
  background: $dark-grey;
  color: #fff;
  box-shadow: 0 0 0 5px rgba($grey, 0.2);
  text-shadow: none;
  border: 0;
  &:hover {
    background: lighten($dark-grey, 5%);
  }
}

.btn--bordered {
  box-shadow: 0 1px 0 rgba(#fff, 0.5) inset, 0 1px 0 rgba(#000, 0.1), 0 0 0 5px rgba($grey, 0.2);
}