// Styles a radio input to look like a button
// Uses the :checked state to modify the look of the button
// @block
// @section 2.1
.btn-group {
  &.is-active {
    .btn-group__inactive {
      display: none;
    }
    .btn-group__active {
      display: inline-block;
    }
  }
  .btn-group__active {
    display: none;
  }
}