@function phone-number-image-url($path) {
  @return component-url('nib-styles-common', "local/phone-number/#{$path}");
}

.phone-number {
  font-size: 24px;
  line-height: baseline(0.7);
  padding-left: 25px;
  background: phone-number-image-url("green.png") no-repeat 0px 0px;
  background: none, phone-number-image-url("green.svg") no-repeat 0px 0px;
  background-size: 20px 20px;
  color: $dark-green;

  span {
    font-weight: 600;
    line-height: baseline(1);
  }

  & > a {
    color: $light-green;
    display: block;
    font-size: size(1);
    font-weight: bold;
    padding-left: 5px;
  }

  &.phone-number--white {
    background: phone-number-image-url("white.png") no-repeat 0px 0px;
    background: none, phone-number-image-url("white.svg") no-repeat 0px 0px;
    background-size: 20px 20px;
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.phone-number.phone-number--large {
  display: inline-block;
  font-size: size(7);
  line-height: 1;
  background-position: left center;
  span {
    font-weight: 300;
  }
  a {
    text-decoration: none;
  }
}