.nav {
  list-style:none;

  li {
    display:inline;
  }
  
  a {
    display:inline-block;
  }
}

.nav-sticky {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  zoom: 1;
  
  &.is-fixed {
    position: fixed;
  }

  @media (max-width: 870px) {
    a {
      font-size: 11px !important;
    }
  }

  @media (max-width: 800px) {
    &, &.is-fixed {
      position: relative !important;
    }

    a {
      font-size: 12px !important;
    }
  }
}

.nav-1 {}

.nav-2 {
  box-shadow: 0 2px 20px rgba(#000, 0.35);
  display:block;

  & > .nav__item {
    @include border-box;
    display: block;
    float: left;
    position: relative;
    &:first-child {
      border-left: 0;
      a,
      span {
        border-radius: 0 0 0 5px;
      }
    }
    &:last-child {
      a,
      span {
        border-radius: 0 0 5px 0;
      }
    }
  }

  & > .nav__item > a,
  & > .nav__item > span {
    @include improve-text-rendering;
    @include vertical-gradient(#f9f9f9, #ddd, #f9f9f9);
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #ddd;
    color: $grey;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: baseline(2);
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      @include vertical-gradient(#fff, #ddd, #f9f9f9);
      color: $dark-grey;
    }
    &.is-selected {
      @include vertical-gradient(#fff, #ddd, #f9f9f9);
      color: $dark-green;
      position: relative;
      &:after,
      &:before {
        @include show-pseudo-element;
        @include triangle('bottom', 20px, 10px, #ddd);
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
        position: absolute;
      }
      &:before {
        @include triangle('bottom', 22px, 11px, #fff);
        bottom: -12px;
        margin-left: -11px;
      }
      .no-cssgradients &:after {
        display: none;
      }

      // ie10
      .no-pointerevents &:after {
        @include triangle('bottom', 20px, 10px, #fafafa);
        bottom: -9px;
      }
    }
  }

  @media (max-width: 800px) {
    .nav__item:first-child a,
    .nav__item:last-child a {
      border-radius: 0 !important;
    }

    .nav__item .is-selected:before,
    .nav__item .is-selected:after {
      display: none !important;
    }
  }

  .nav__item--parent > a,
  .nav__item--parent > span {
    position: relative;
    z-index: 2;

    @include after {
      @include show-pseudo-element;
      @include transform(translateY(-50%));
      top: 50%;
      position: absolute;
      right: 15px;
      height: 16px;
      width: 16px;
      opacity: 0.8;
      background: component-url('nib-styles-accordion', 'down.png') no-repeat top right;
      background: component-url('nib-styles-accordion', 'down.svg') no-repeat top right, none;
      background-size: 16px 16px;
    }

    // Pre-load the other image so we don't get a flash
    @include before {
      background: component-url('nib-styles-accordion', 'up.svg') no-repeat top right;
      height: 0;
      width: 0;
      position: absolute;
    }

    &.is-open:after {
      background-image: component-url('nib-styles-accordion', 'up.png');
      background-image: component-url('nib-styles-accordion', 'up.svg'), none;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &.nav--vertical {
    & > .nav__item {
      float: none;
      &:last-child > a,
      &:last-child > span {
        border-bottom: 0;
      }
    }
    & > .nav__item > a,
    & > .nav__item > span {
      border-radius: 0;
      text-align: left;
      padding: 0 20px;
      border-bottom: 1px solid #bbb;
      border-left: 0;
    }
    & > .nav__sub {
      position: relative;
      z-index: 1;
    }
  }
}

.nav-3 {

  &.nav--muted {
    a {
      color: $light-grey;
      &:hover {
        color: #fff;
      }
    }
    li {
      border-left-color: $grey;
    }
  }

  li {
    float: left;
    display: inline;
    border-left: 1px solid $border-color;
  }

  li:first-child {
    border-left: none;
  }

  a {
    padding: 0 $spacing-small;
    color: #666;
    text-decoration: none;
    @media (max-width: 320px) {
      padding: 0 5px;
    }
  }

  a:hover {
    color: #1F7C07;
    text-decoration: underline;
  }
}

.nav-secondary {
  @extend .nav;
  @extend .list-inline;

  li {
    border-left: 1px solid $border-color;
    line-height: 20px;
  }

  li:first-child {
    border-left: none;
  }

  a {
    text-decoration: none;
    padding: 0 $spacing-small;
    color: $grey;
    font-size: 12px;
  }

  a:hover {
    color: $light-grey;
  }
}


.nav-4 {
  border-top: 1px solid #666;

  // When this nav is a sub-menu
  &.nav--sub {
    border-top: 0;
    .nav__item:first-child a {
      box-shadow: 0 4px 5px rgba(black, 0.25) inset;
    }
    & > .nav__item > a {
      padding-left: 30px;
    }
  }

  &.nav--muted {
    a {
      text-transform: uppercase;
      font-size: 10px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }

  .nav__item {
    @include border-box;
    display: block;
    position: relative;
  }

  a {
    @include improve-text-rendering;
    border-bottom: 1px solid #666;
    background: #444;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: baseline(2);
    padding: 0 20px;
    text-decoration: none;
    &:hover {
      background: #555;
    }
  }
}