// List with green arrows
.list-1 {
  margin: 0;
  li {
    background: component-url('nib-styles-common', 'local/lists/images/icon-arrow-right.png') no-repeat 0 8px;
    list-style: none;
    margin-bottom: baseline(0.5);
    padding-left: 18px;

    @media (max-width: 800px){
      background-position: 0 8px;
    }
  }

  strong {
    color: #333;
  }

  &.is-extras {
    & > li {
      background-image: component-url('nib-styles-common', 'local/lists/images/icon-arrow-right-extras.png');
    }
  }

  &.is-hospital {
    & > li {
      background-image: component-url('nib-styles-common', 'local/lists/images/icon-arrow-right-hospital.png');
    }
  }

  &.with-hover {
    li {
      background-image: component-url('nib-styles-common', 'local/lists/images/icon-arrow-right-grey.png');
      &:hover {
        background-image: component-url('nib-styles-common', 'local/lists/images/icon-arrow-right.png');
      }
    }
  }

  &.list-1--white {
    li {
      background-image: component-url('nib-styles-common', 'local/lists/images/icon-arrow-right-white.png');
    }
  }

  &.list-1--grey {
    li {
      background-image: component-url('nib-styles-common', 'local/lists/images/icon-arrow-right-grey.png');
    }
  }

  &.list-1--middle {
    li {
      background-position: 0 50%;
    }
  }

  ul {
    margin: spacing(1) 0;
    & > li {
      list-style: disc;
      list-style-position: inside;
      background: none;
      padding-left: 0;
      margin-bottom: baseline(0.25)
    }
  }
}

// List with a title and a list of links
.list-2 {
  li {
    margin: baseline(0.25) 0;
    line-height: 15px;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.list-ticks {
  margin: 0;
  li {
    list-style: none;
    padding-left: 25px;
    background-image: component-url('nib-styles-common', 'local/lists/images/tick.png');
    background-image: component-url('nib-styles-common', 'local/lists/images/tick.svg'), none;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 16px 15px;
    margin-bottom: baseline(0.5);
  }
  strong {
    color: #333;
  }
}

.list--tight {
  line-height: 1.1;
}

.list-inline-bullets {
  li {
    display: inline-block;
    &:after {
      content: " \2022 ";
    }
    &:last-child:after {
      display: none;
    }
  }
}